$animation-durations: (
  x-fast: 120ms,
  fast: 220ms,
  default: 500ms,
  slow: 700ms,
  x-slow: 500ms,
);

$animation-delays: (
  x-fast: 120ms,
  fast: 220ms,
  default: 500ms,
  slow: 700ms,
  x-slow: 500ms,
);

$animation-easings: (
  in: cubic-bezier(0.4, 0, 1, 1),
  out: cubic-bezier(0, 0, 0.2, 1),
  in-out: cubic-bezier(0.4, 0, 0.2, 1),
);
