@use "helper" as *;

// Buttons
$button-colors: (
  default: (
    idle: (
      bg: (
        light: "neutral-000",
        dark: "blue-900",
      ),
      fg: (
        light: "grey-950",
        dark: "neutral-000",
      ),
    ),
  ),
);

$button-appearance: (
  padding-inline-start: (
    default: rem(20px),
  ),
  padding-inline-end: (
    default: rem(8px),
  ),
  padding-block: (
    default: rem(8px),
  ),
  border-width: (
    default: 0px,
  ),
  border-radius: (
    default: 1000px,
  ),
  svg-width: (
    default: rem(14px),
  ),
  gap: (
    default: rem(12px),
  ),
);
