@use "helper" as *;

// Buttons
$button-colors: (
  back: (
    idle: (
      bg: (
        light: "neutral-000",
        dark: "blue-900",
      ),
      fg: (
        light: "grey-950",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "grey-100",
        dark: "blue-800",
      ),
    ),
  ),
  border: (
    idle: (
      bg: (
        light: "neutral-000",
        dark: "blue-900",
      ),
      fg: (
        light: "grey-950",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "grey-100",
        dark: "blue-800",
      ),
    ),
  ),
);

$button-appearance: (
  padding-inline: (
    back: bp(24px, 24px, 32px),
    border: rem(28px),
  ),
  height: (
    back: bp(32px, 40px, 40px),
    border: rem(28px),
  ),
  border-radius: (
    back: rem(2px),
    border: rem(2px),
  ),
  icon-width: (
    back: bp(17px, 22px, 22px),
  ),
  gap: (
    back: rem(8px),
  ),
);
