.content {
  min-height: 80dvh;
  display: grid;
  place-content: center;
  justify-items: center;
  gap: var(--space-cont-lg);
  text-align: center;
}

.eyebrow {
  font: var(--font-2);
  margin-block-end: var(--size-12);
}
