.heading {
  color: var(--fg-text-strong);
  text-wrap: balance;

  &[data-size="h1"] {
    font: var(--font-1);
  }
  &[data-size="h2"] {
    font: var(--font-2);
  }
  &[data-size="h3"] {
    font: var(--font-3);
  }
  &[data-size="h4"] {
    font: var(--font-5);
  }
}
