.themeSwitch {
  display: flex;
  align-items: center;
  gap: var(--space-cont-sm);
  font: var(--font-4);
  background: none;
  border: none;
  cursor: pointer;
  transition: color var(--trans-fast-out);

  @media (hover: hover) {
    &:hover {
      color: var(--fg-text-highlight);
    }
  }
}

.icon {
  width: var(--size-icon-theme);
}
