@use "@/sass/miscellaneous" as *;

.controls {
  display: grid;
  gap: var(--space-cont-controls-gap);
  padding-block-start: var(--space-cont-controls-margin-block-start);

  @include mq(medium) {
    grid-template-columns: 1fr auto;
  }
}
