.inner {
  padding-inline: var(--pad-sect-country-details);
  padding-block-start: var(
    --space-cont-country-details-main-margin-block-start
  );
}

.icon {
  width: var(--btn-icon-width-back);
}
