@use "@/sass/miscellaneous" as *;

.inner {
  display: grid;
  align-items: center;
  gap: var(--space-cont-country-details-inner-gap);
  margin-block-start: var(
    --space-cont-country-details-inner-margin-block-start
  );

  @include mq(large) {
    grid-template-columns: 1fr 1fr;
  }
}

.image {
  width: min(100%, 35rem);
  border-radius: var(--br-lg);
  margin-inline: auto;
}

.lists {
  display: grid;
  gap: var(--size-32);
  margin-block-start: var(
    --space-cont-country-details-lists-margin-block-start
  );

  @include mq(medium) {
    grid-template-columns: 1fr 1fr;
  }

  .stat {
    display: flex;
    gap: 1ch;
  }

  dt {
    font: var(--font-8);
    white-space: nowrap;
  }
  dd {
    font: var(--font-9);
  }
}

.borders {
  display: grid;
  gap: var(--size-16);
  margin-block-start: var(
    --space-cont-country-details-borders-margin-block-start
  );

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-16);
  }

  @include mq(medium) {
    grid-template-columns: auto 1fr;
  }
}
